<ion-content>
  <app-header title="Inicio de Sesion" id="header"></app-header>
  <div class="box-center">
    <div class="box-logo">
      <app-logo image="./assets/icon/logo-login.png" alt="[!] Imagen del login..."></app-logo>
    </div>
    <form [formGroup]="loginForm">
      <app-custom-input [controller]="loginForm.controls.email" type="text" label="Email" placeholder="Ingrese su mail..." autocomplete="email" icon="mail-outline"></app-custom-input>
      <app-custom-input [controller]="loginForm.controls.password" type="password" label="Contraseña" placeholder="Ingrese su contraseña..." autocomplete="off" icon="key"></app-custom-input>
      <div class="box-messages">
        @if (loginForm.controls.email.touched && loginForm.controls.email.errors?.['email']) {
          <p class="message-alert"><ion-icon style="font-size: 20px;" slot="start" name="alert-circle-outline"></ion-icon>Ingrese un MAIL VALIDO</p>
        } 
        @if (loginForm.controls.email.touched && loginForm.controls.email.errors?.['required']) {
          <p class="message-alert"><ion-icon style="font-size: 20px;" slot="start" name="alert-circle-outline"></ion-icon>El campo MAIL es OBLIGATORIO</p>
        }
        @if (!loginForm.invalid){
          <p class="message-info">Ingrese sus credenciales</p>
        }
      </div>
      <div class="box-btn-login">
        <ion-button class="btn-custom" block (click)="signIn()">Iniciar Sesion</ion-button>
      </div>
    </form>
    <br>
    <p>No tenes una cuenta registrada?</p>
    <ion-button class="btn-custom" block (click)="sendPageSignUp()">Registrarse</ion-button>
  </div>
</ion-content>