.btn-custom {
    --background: #23bb44;
}

.box-center {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-btn-login {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.box-messages {
    text-align: center;
}

.message-alert {
    font-weight: bold;
    color: #c72121;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.message-info {
    font-weight: bold;
    color: #1b9135;
}

.box-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15vh;
}

.box-tester-accounts {
    display: flex;
    justify-content: center;
}

ion-segment-button {
  --indicator-color: #750099;
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: #750099;
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: #750099;
  --color-checked: #fff;
  --border-radius: 20px;
}

.box-tester {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}