<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<ion-content class="content">
  <div class="container-global ion-text-center">
    <h1 class="font-text" id="{{(this.animationType === 'in') ? 'animation-text-in' : 'animation-text-out'}}">Romano Nahuel</h1>
    <div class="container-img">
      <h2 class="font-text" id="{{(this.animationType === 'in') ? 'animation-text-in' : 'animation-text-out'}}">OsvaldApp</h2>
      <img src="../../../assets/logo-app.png" alt="icon" id="{{(this.animationType === 'in') ? 'animation-logo-in' : 'animation-logo-out'}}">
    </div>
    <h3 class="font-text" id="{{(this.animationType === 'in') ? 'animation-text-in' : 'animation-text-out'}}">141-2</h3>
  </div>
</ion-content>
